/TSC_lab2/work
/TSC_lab2/vsim
/lab3/work
/lab3/vsim
/TSC_lab4/work
/TSC_lab4/vsim
/TSC_lab4/lab4
/TSC_lab6_bun/TSC_lab6/work
/TSC_lab6_bun/TSC_lab6/lab6bun
/TSC_lab6_bun/TSC_lab6/sim
/TSC_lab6_bun/TSC_lab6/vsim
/TSC_lab7/work
/TSC_lab7/lab6bun
/TSC_lab7/sim
/TSC_lab8/sim
/TSC_lab8/vsim
/TSC_lab8/work
/TSC_lab8/lab7functie
/TSC_labFinal/TSC_labFinal/sim
/TSC_labFinal/TSC_labFinal/work
/TSC_labFinal/TSC_labFinal/vsim