/TSC_lab2/work
/lab3/work
/TSC_lab7/work
/TSC_lab4/work
/TSC_lab4/vsim
/TSC_lab6_bun/TSC_lab6/work
/TSC_lab6_bun/TSC_lab6/lab6bun
/TSC_lab6_bun/TSC_lab6/sim
/TSC_lab7/work
/TSC_lab7/lab6bun
/TSC_lab7/sim
/TSC_lab8/sim
/TSC_lab8/work
/TSC_lab8/lab7functie
